<div class="comment-box">
  <%= nested_form_for [@product, bounty, bounty.comments.new], html: {remote: true, :class => "bounty_comment_form"} do |f| %>
    <div class="comment-form">
      <%= f.text_area :body, :placeholder => "Enter a Bounty Response Here", :maxlength => 1000, style: ' min-height: 100px; min-width: 70%; width: 682px; border-radius: 0px;', :class => "comment_form_body" %>
      <%= f.hidden_field :product_id, value: @product.id %>
    </div>
    <div class="actions">
      <%= f.submit nil, class: 'btn btn-primary', :name => "tab[#{tab}]" %>
    </div>
  <% end %>
</div>

