<% if !@recent_activity.empty? %>
  <div class="row" id="recent_activity">
    <h1><%= @user.name %>'s Recent Activity</h1>
    <ul class="recent-activity">
      <!-- Don't show activity of liking features -->
      <% @recent_activity.each do |activity| %>
        <% if activity.product %>
          <li class="activity">
            <%= render partial: 'activity', locals: {activity: activity} %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
