<div class="span2 thumbnail user-callout">
	<% if !user.profile_picture.nil? %>
		<%= image_tag user.profile_picture.attachment.url(:thumb), :class => 'img-rounded', :style => 'height: 100px;' %>
		</br>
		<h4><%= link_to user.name, user %></h4>
	<% end %>
</div>