<h1>Welcome To Critiq</h1>

<br>

<div class="container">

  <div class="row">

    <div class="span4">
      <h3>Join The Club</h3>      
      <div style="margin-left: auto; marigin-right: 50px"><%= button_to 'New User', new_user_path, :method => "get", :class => "btn btn-primary"%></div>
    </div>  

  </div>
 
</div>
