<h2>Welcome To Critiq</h2>

<br>

<div class="container">

  <div class="row">

    <div class="span4">
      <h3>Join The Club</h3>      
      <%= link_to 'New User', new_user_path %>
    </div>  

  </div>

</div>
