<%- model_class = User -%>
<div class="hero-unit user-banner">
  <% if !signed_in? %>
    <div class="row span3">
      <h3 class="span3">Join the club</h3>
      <%= link_to t('.new', :default => t("helpers.links.new")), new_user_path,
                  :class => 'btn btn-primary offset1', :style => 'margin-left: 140px' %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <ul class="thumbnails">
      <% @users.each do |user| %>
        <%= render :partial => 'user_thumb' , locals: { user: user } %>
      <% end %>
    </ul>
  </div>  
</div>
