<div class="container" style="height: 100%; margin-top: 20px;">
	<h1>New Bounty</h1>
	<div class="new-bounty-question">
		<%= render 'form' %>

		<%= link_to 'Back', product_path(:id => @product.id) %>
	</div>
</div>