<div class="container section-container">
	<div class="section-header">
		<h2>What is Critiq?</h2>
	</div>
	<div class="section-sub">
		<p>Critiq is a platform for creator­s to engage with ­their audience and solicit feedback from them. Feedback is split into quantitative (Polls) and Qualitative (Critiques). Users will gain “Heat” based on the quality of their Critiques, judged by the community through up/downvoting.</p>
		<p>Our philosophy is built around constructive criticism, so we encourage users to leave comments that carry substance and are not just empty proclamations. This includes BOTH negative and positive feedback: “This is awesome!” and “This sucks!” are similarly unhelpful if they don’t answer the question “But why?” This way people can offer input that ultimately leads to better creative choices.</p>
		<h2>What is Heat?</h2>
		<p>Heat is a basic measure of the quality of your contributions. Creator Heat is a rough indicator of the quality of your creations, interactions, and receptiveness to community feedback. Critiqer Heat is a measure of the quality of your feedback.</p>
	</div>
</div>