<div class="container section-container">
	<div class="section-header">
		<h1>Community Guidelines</h1>
	</div>
	<div class="section-sub">
		<h2>In Your Critiques:</h2>
		<h3>Be respectful of others</h3>
		<p>No personal attacks, insults, hostile, or hurtful comments.</p>
		<h3>Write in English</h3>
		<p>This is to ensure clear communication until we figure out how to create different spaces for different languages. We encourage the use of proper grammar and correct spelling.</p>
		<h3>Be Goal-Oriented</h3>
		<p>Feedback should be given with the intention of fixing a problem or proposing a new or superior solution. Try to give suggestions that work in the Creator's context; not just a preference in personal taste. We trust the community to make the right calls in this regard.</p>
		<p>For instance:</p>
		<p>Statement of Opinion: “I don’t think you should make this bike helmet out of paper because it's ugly”</p>
		<p>Reasonable Critique: "I don't think you should make this bike helmet out of paper because it's ugly and your target audience is very fashionable.</p>
		<p>Good Critique: “I don't think you should make this bike helmet out of paper because if someone hit their head the helmet would cave easily and it would probably hurt.</p>
		<h3>Provide Context</h3>
		<p>Please provide context for your critiques/replies, explain why you like/dislike or agree/disagree. Cite sources for data, scientific findings, outside research, or other factual information verifiable by a third party. If you link to another site or contain embedded videos should provide a summary and an explanation of the content's relevance to the question.</p>
		<h3>Top-level Critiques (Direct critiques on a Drive) </h3>
		<p>Must be some form of a compliment, suggestion, or complaint about a topic related to the Drive. “I like your color choice” is much more valuable, if a bit brief, than just “I like this product”. You do not need to offer solutions to complaints, though they are definitely appreciated. Critiques must provide an explanation or rationale. In other words, solely posting “I like this” or “this sucks” does not contribute any constructive feedback if it doesn’t answer why?</p>
		<h3>Replies to Critiques:</h3>
		<p>should contribute something new or add on to the critique. No empty replies like “me too”, use an upvote if you agree and don’t have anything else to add.</p>
		<p>We will remove any instances of obscenity, harassment, spam, vandalism, or inappropriate content</p>
	</div>
</div>
