<div class="container contact" style="min-height: 90%;">
	<div class="row span12" style="padding: 20px; margin-bottom: 8%">
		<div class="span5 pull-left" style="float: center;">
			<%= image_tag '/images/kens-face.png' %>
			<h2>Kenneth Hsia</h2>
			<p>Ken was a Physics major at Bowdoin College, and went through the Draper University Pre-incubator program. He somehow ended up doing design work, but would some day like to build spacecraft. Ken enjoys cooking salmon and drawing portraits. Send me a message at <a href="mailto:ken@critiq.me">ken@critiq.me</a> to get in contact!</p>
		</div>
		<div class="span5 pull-right" style="text-align: center;">
			<%= image_tag '/images/jakes-face.png' %>
			<h2>Jacob Schmitz</h2>
			<p>Jake was a student at the School of Engineering at Tufts University studying Computer Science and Mathematics until the end of 2013. I love data, programming, and ping pong.</p>
			<p>If you want to contact me, use <a href="mailto:jake.schmitz101@gmail.com?Subject=Critiq">my email address</a></p>
		</div>
	</div>
</div>