<div class="hero-unit home-banner">
	<div class="container">
		<div class="hero-text">
			<h1>Curated Feedback,</h1>
			<h1>From Users Who Care</h1>
		</div>
	  <div>    
	   	<% if !signed_in? %>
		    <div><%= button_to 'Sign Up', new_user_path, :method => "get", :class => "btn btn-primary", style: 'margin-top: 10px;'%><%= button_to 'Sign In', signin_path, :method => "get", :class => "btn btn-info"%>
		    </div>
	    <% end %>
	  </div>  
	</div>
</div>
</br>
<div class="container">
	<div class="row" style="width: 100%;">
		<h1 style="text-align: center;">Meet The Team</h1>
	</div>
	<ul class="thumbnails" style="margin-left: 50px;">
		<li class="span5 thumbnail">
			<%= image_tag '/images/kens-face.png' %>
			<h3>Kenneth Hsia</h3>
		</li>
		<li class="span5 thumbnail">
			<%= image_tag '/images/jakes-face.png', :class => 'img-circle' %>
			<h3>Jacob Schmitz</h3>
		</li>
	</ul>
</div>
