<%= render partial: 'banner' %>
<br>
<div class="container home-content" style="text-align: center;">
	<h1>Featured Drives</h1>
	<div class="pretty-divider"></div>
	<div id="home_drives">
		<%= render partial: 'home_drives' %>
	</div>	
	<div class="featured-makers" style="text-align: center;">
		<h1>Featured Makers</h1>
		<div class="pretty-divider"></div>
		<div class="row">
			<% @top_users.each do |u| %>
				<%= render :partial => '/users/user_thumb', locals: { user: u } %>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(function(){
		$("#home_drives .pagination a").on('click', function() {
			$.getScript(this.href);
			return false;
		});
	});
</script>