<div id="Background_image_box" class="clearfix">
    <div id="Login_and_Signup_global_container" class="clearfix">
        <div id="Login_container" class="clearfix">
            <p id="_Log_in_title_text">
            Log in
            </p>
            <div id="Login_Email_Form" class="clearfix">
            </div>
            <div id="Login_Password_form" class="clearfix">
            </div>
            <div id="Login_forgot_password_container" class="clearfix">
                <a href="redirect to user dashboard">
                    <input id="Login_button" type="button" value="Login">
                </a>
                <a id="Forgot_pasword_text_link" href="redirect to email activation page">
                <span id="Forgot_password_text">Forgot Password?</span><br>
                </a>
            </div>
            <a href="facebook sign in, then user dashboard">
                <input id="Facebook_sign_in_button" type="button" value="Facebook sign in">
            </a>
        </div>
        <div id="Sign_up_container" class="clearfix">
            <p id="_Sign_up_title_text">
            Sign up<br>
            </p>
            <div id="Sign_up_email_form" class="clearfix">
            </div>
            <div id="Sign_up_pass_word_form" class="clearfix">
            </div>
            <div id="Sign_up_pass_word_confirmation_form" class="clearfix">
            </div>
            <a href="redirect to user dashboard">
                <input id="Sign_up_button" type="button" value="Sign Up">
            </a>
        </div>
    </div>
</div>