// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-user {
	float: center;
	padding-top: 20px;
}

.comment {
	display: inline-block; 
	float: left; 
	width: 100%; 
	margin-bottom: 10px;
	.comment-body {
		min-width: 80%;
		width: 700px;
		min-height: 60px;
		.commenter-info {
			float: left;
			height: 29px;
			width: 100%;
		}
	}
}