// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments {
	float: right
}

.comment-user {
	float: center;
	padding-top: 20px;
}

#comment_body {
	border: 1px solid #d0d0d0;
}

#comment_form_body {
	border: 1px solid #d0d0d0;
}

.comment {
	display: inline-block; 
	float: right; 
	.comment-body {
		width: 730px;
		float: center; 
		margin-bottom: 5px;
		min-height: 60px;
		.commenter-info {
			float: left;
			height: 29px;
			width: 100%;
		}
	}
}


.new-comment {
	min-height: 160px;
	text-align: center;
	float: center;

	display: inline-block;
	margin-left: 100px;
	.comment-box {
		min-height: 100px;
		width: auto;
		display: inline-block;
	}
	.current-user-face {
		padding: 0px;
		position: absolute;
		margin-left:-100px;
	}
}

.comment-nest {
	width: 784px;
	float: center;
}

.comment-body {
	text-align: left;
	margin-left: 15px;
	margin-top: 5px;
	padding: 10px;
	background: rgba(250, 250, 250, 1);
	border: 1px solid #d4d4d4;
}

#comment-reply {
	float: left;
}

#reply-body {
	float: left;
	margin-top: 1%;
	margin-left: 29px;
	width: 600px;

}

.reply-but {
	margin-left: 29px;
}

.nested_comments {
	width: 100.5%;
	margin-left: 31px;
	overflow: visible;
	float: left;
	border-left: 1px solid #d4d4d4;
	position: relative;
	right: -3px;
}

.nested-comment {
	float: left;
}

.comment-vote-buttons {
	margin-top: 10px;
	padding-left: 5px;
}

.current-user {
	float: right;
}

.comment-box {
	float: right;
}

.reply-body {
	width: 750px;
}

.collapsed-comment {
	margin-left: 34px;

}

.collapsed {
	display: none;
}

.cancel {
	margin-left: 20px
}

@media(max-width: 980px) {
	.new-comment {
		margin-left: 0;
		.current-user {
			display: none;
		}
		.comment-box {
			margin-left: 0px;
			width: 100%;
		}
	}
	.comment-form {
		width: auto;
		#comment-body {
			width: 100%;
			border: 1px solid #d4d4d4;
		}
	}
	.product-comments {
		margin: 0;
	}
	.comment-nest {
		width: 100%;
	}
	.comment {
		display: inline-block; 
		float: right; 
		.comment-body {
			width: 90%;
			float: center; 
			margin-bottom: 5px;
			min-height: 60px;
			.commenter-info {
				float: left;
				height: 29px;
				width: 100%;
			}
			#comment_body {
				border: 1px solid #d0d0d0;
			}
		}
	}
}
