// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-user {
	float: center;
	padding-top: 20px;
}

.comment {
	display: inline-block; 
	float: center; 
	margin-bottom: 5px;
	.comment-body {
		max-width: 94%;
		width: 700px;
		min-height: 60px;
		.commenter-info {
			float: left;
			height: 29px;
			width: 100%;
		}
	}
}

.new-comment {
	min-height: 160px;
	text-align: center;
	display: inline-block;
	margin-left: 100px;
	.comment-box {
		min-height: 100px;
		width: auto;
		display: inline-block;
	}
	.current-user-face {
		padding: 0px;
		position: absolute;
		margin-left:-100px;
	}
}

.comment-body {
	text-align: left;
	margin-left: 15px;
	margin-top: 0px;
	padding: 10px;
	background: rgba(250, 250, 250, 1);
	border: 1px solid #d4d4d4;
}

