/* universal */

.container {
  padding: 0;
  text-align: center;
}

html {
  width: auto !important;
}

body {
  margin-top: 40px;
  padding: 0px;
  padding-top: 20px;
  height: 100%;
  background-color: #f4f4f4;
  width: auto !important;
  overflow-x: hidden !important;
}

.background-splatter1 {
  position: absolute;
  background-image: url('/images/svg/splatters.svg');
  background-size: cover;
  height: 100%;
  width: 90%;
  z-index: -1;
  opacity: .05;
}

.background-splatter2 {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url('/images/svg/splatters-07.svg');
  background-size: cover;
  width: auto;
  z-index: -1;
  opacity: .05;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6{
  line-height: 1.2;
  text-align: center;
  color: #606060;
}

.roboto-font {
  font-family: "Roboto Slab", Serif;
  font-weight: 400;
}

.roboto-heavy {
  font-family: "Roboto Slab", Serif;
  font-weight: 700;
}


h4 {
  font-weight: 400;
}


p {
  font-size: 18px;
  font-weight:300;
  line-height: 1.4em;
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
  font-style: normal;
}

>a {
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  text-align: center;
  height: auto;
  width: 100%;
  .upper-footer {
    width: 100%;
    padding: 10px;
    height: auto;
    color: #fff;
    background-color: #6d2cfa;
    margin-top: 0px;
    p {
      float: center;
      display: inline-block;
      padding-top: 10px;
    }
  }
  .lower-footer {
    padding: 8px;
    width: 100%;
    height: auto;
    text-align: center;
    > ul {
      padding-top: 8px;
      display: inline-block;
      text-align: center;
      line-height: 1.2;
    }
    background-color: #3d3d3d;
  }
  background-color: #3d3d3d;
}

footer a {
  color: #fff;
}

footer ul li {
  list-style: none;
  float: left;
  margin-left: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing; */
}

input {
  height: auto !important;
}

.form-actions {
  margin-left: auto;
  margin-right: auto;
  background-color:transparent;
}

.btn {
  font-size: 18px;
  text-shadow: none;
  box-shadow: none;
}

.btn-primary {
  text-shadow: none;
  box-shadow: none;
  background-color: #44a1ff;
  color: #fff;
  border: 2px solid #44a1ff;
  height: auto;
  font-size: 20px;
  -moz-transition: all 0.3s ease-in;
  /* WebKit */
  -webkit-transition: all 0.3s ease-in;
  /* Opera */
  -o-transition: all 0.3s ease-in;
  /* Standard */
  transition: all 0.3s ease-in;
}

.btn-primary:hover {
  text-shadow: none;
  background-color: #fff;
  color: #44a1ff;
  border: 2px solid #44a1ff;
  -moz-transition: all 0.3s ease-in;
  /* WebKit */
  -webkit-transition: all 0.3s ease-in;
  /* Opera */
  -o-transition: all 0.3s ease-in;
  /* Standard */
  transition: all 0.3s ease-in;
}

#nav_login_email, #nav_login_password, #nav_login_button, #nav_signup_button {
  width: 75px;
  padding: 5px 10px 10px 5px;
  display: inline-block;
}

#nav_login_button, #nav_signup_button {
  .btn {
    margin-top: -10px;
  }
  margin-top: 0px;
}

div.file_upload_wrapper {
  opacity: 100;
  cursor: pointer;
  position: relative;
  top: 0;
  z-index: 2;
}

div.file_upload_wrapper:hover {
  opacity: 0.5;
}

.btn-group { 
  display: inline; 
}

.navbar {
  .navbar-inner {
    background-color: #6d2cfa;
    background-image: none;
    box-shadow: 0px 1px 4px 1px #657;
    border: none;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2px;
    height: 50px;
    .nav-collapse {
      .nav-right {
        float: right;
      }
    }
  }
  .nav {
    > li {
      padding-top: 3px;
      color: #fff;
      text-shadow: none;
      .dropdown-open {
        > dropdown-toggle {
          color: #5B9C64;
        }
      } 
      > a {
        color: #fff;
        text-shadow: none;
      }
    }
    .dropdown-toggle {
      .caret {
        margin-top: 0px;
        color: #fff;
      }
    }
  }
}

/* fucking caret needs to be white */
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.thumbnail {
  padding: 0px;
  color: #fff;
}


.alert {
  width: 100%;
  margin: 50px -50px 0px 0px;
  margin-top: 0px;
  padding-top: 20px;
  position: relative;
  .close {
    right: 0px;
  }
}

.tab-pane {
  padding: 20px;
}

.modal {
  width: auto;
  margin: 0 auto;
}

.thumb-ratio{
    position:relative;
    width: 0;
    height: 100%;
    padding-right: 100% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.wide-ratio{
    position:relative;
    height: 0;
    width: 100%;
    padding-bottom: 100% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.proxima-font {
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
  font-weight: 300;
}

.tiny-thumb-ratio {
  width: 40px;
  height: 40px;
  padding-right: 5px;
  padding-top: 0px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.btn-outline {
  text-align: center;
  border: 2px solid #fff;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  
}

.btn-clear {
  background: rgba(64, 64, 64, 1);
  -moz-transition: all 0.2s ease-in;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in;
  /* Opera */
  -o-transition: all 0.2s ease-in;
  /* Standard */
  transition: all 0.2s ease-in;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0px;
  padding: 8px 8px 8px 15px;
  text-align: center;
  letter-spacing: 7px;
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
  font-weight: 300;
  > h4 {
    font-family: proxima-nova-n9, proxima-nova, sans-serif;
    color: #fff;
  }
}
.btn-clear:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #606060;
  border: 2px solid #606060;
  -moz-transition: all 0.2s ease-in;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in;
  /* Opera */
  -o-transition: all 0.2s ease-in;
  /* Standard */
  transition: all 0.2s ease-in;
}

.outline {
  color: #000;
  border-color: #000;
}

.blurb-row {
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
  .blurb-icon {
    width: 200px;
    border: 6px solid #828282;
    border-radius: 100px;
    margin: 0px;
    margin-bottom: 20px;
  }
}

> a:hover {
  underline: none;
}

.pretty-divider {
  background-image: url('/images/svg/Underlines.svg');
  background-size: cover;
  opacity: .6;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 30%;
  height: 5px;
}

.home-buttons {
  display: inline;
  float: center;
}

.inline-button {
  display: inline-block;
}

/* social media buttons */
.sm-button {
  padding-left: 5px;
  padding-right: 5px;
}


.thumb-functions {
  height: 40px;
  background: rgba(124, 124, 124, 0.8);
  opacity: .8;
  display: inline-block;
  width: 100%;
  > p > a > h4 {
    opacity: 1;
  }
  margin-top: 0px;
  .btn-clear {
    padding: 2px;
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.fb-btn {
  background-color: #4c66a4;  
  border-color: #4c66a4;
  color: #fff;
  -moz-transition: all 0.2s ease-in;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in;
  /* Opera */
  -o-transition: all 0.2s ease-in;
  /* Standard */
  transition: all 0.2s ease-in;
}

.fb-btn:hover {
  background-color: #fff;
  color: #4c66a4;
  border-color: #4c66a4;
  -moz-transition: all 0.2s ease-in;
  /* WebKit */
  -webkit-transition: all 0.2s ease-in;
  /* Opera */
  -o-transition: all 0.2s ease-in;
  /* Standard */
  transition: all 0.2s ease-in;
}

.btn-purple {
  background-color: #6d2cfa;  
  border-color: #6d2cfa;
}

.btn-purple:hover {
  background-color: #fff;
  color: #6d2cfa;
  border-color: #6d2cfa;
}

.btn-black {
  background-color: #494949;  
  border-color: #494949;
  color: #fff;
}

.btn-black:hover {
  background-color: #fff;
  color: #494949;
  border-color: #494949;
}


/* Mobile-ish */
@media (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 400;
  }
  p {
    line-height: 1.2em;
  }
  footer {
    width: 100%;
  }
  .home-banner {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
}

/* navbar on small screen ish */
@media (max-width: 980px) {
  .navbar {
    background-color: #828282;
    .brand {
      margin-top: -5px;
    }
    .btn-navbar {
      padding: 5px;
    }
    .navbar-inner {
      background-color: #6d2cfa;
      background-image: none;
      box-shadow: 0px 1px 4px 1px #657;
      border: none;
      height: 50px;
      padding-left: 3%;
      padding-right: 3%;
    }
    .nav {
      > li {
        color: #fff;
      }
    }
  }
}

@media (min-width: 980px){
  .navbar {
    .navbar-inner {
      padding-left: 3%; 
      padding-right: 3%;
    }
  }
}

@media (max-width: 768px) {
  .no-mobile {
    display: none;
  }
}
