@import "cosmo";

/* universal */

html {
  min-height: 100%;
}

body {
  margin-top: 40px;
  padding-top: 20px;
  min-height: 100%;
}

.background-splatter1 {
  position: absolute;
  background-image: url('/images/svg/splatters.svg');
  background-size: cover;
  height: 100%;
  width: 90%;
  z-index: -1;
  opacity: .05;
}

.background-splatter2 {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url('/images/svg/splatters-07.svg');
  background-size: cover;
  width: auto;
  z-index: -1;
  opacity: .05;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6{
  line-height: 1.2;
  text-align: center;
  font-family:"Lato Normal 400", serif;
  color: #606060;
}


p {
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  font-family: arial, sans-serif;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 25px;
  width: 100%;
  .upper-footer {
    width: 100%;
    padding: 10px;
    height: 40px;
    color: #fff;
    background-color: #6d2cfa;
  }
  .lower-footer {
    padding: 8px;
    width: 100%;
    height: 40px;
    > ul {
      margin-left: 40%;
      float: center;
    }
    background-color: #3d3d3d;
  }
  background-color: #3d3d3d;
}

footer a {
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing; */
}

input {
  height: auto !important;
}

.form-actions {
  margin-left: auto;
  margin-right: auto;
  background-color:transparent;
}

.btn-primary {
  text-shadow: 0 -1px 0 rgba(.25, 0, 0, 0);
}

#nav_login_email, #nav_login_password, #nav_login_button {
  width: 75px;
  padding-right: 20px;
  display: inline-block;
}

#nav_login_button {
  .btn {
    margin-top: -10px;
  }
  margin-top: 0px;
}

div.file_upload_wrapper {
  opacity: 100;
  cursor: pointer;
  position: relative;
  top: 0;
  z-index: 2;
}

div.file_upload_wrapper:hover {
  opacity: 0.5;
}

.btn-group { 
  display: inline; 
}

.navbar {
  .navbar-inner {
    background-color: #6d2cfa;
    
    background-image: none;
    box-shadow: 0px 1px 4px 1px #657;
    border: none;
  }
  .nav {
    > li {
      padding-top: 3px;
      color: #fff;
      text-shadow: none;
      .dropdown-open {
        > dropdown-toggle {
          color: #5B9C64;
        }
      } 
      > a {
        font-weight: bold;
        color: #fff;
        text-shadow: none;
      }
    }
    .dropdown-toggle {
      .caret {
        margin-top: 0px;
        color: #fff;
      }
    }
  }
}

/* fucking caret needs to be white */
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.thumbnail {
  color: #fff;
}

.alert {
  margin: 50px;
  margin-top: 50px;
  .close {
    right: 0px;
  }
}

.tab-pane {
  padding: 20px;
}

.pic-modal {
  left: 50%;
  top: 10%;
  overflow: visible;
  text-align: center;
}

.modal {
  max-width: 560px;
  width: auto;
  overflow: visible;
  left: 50%;
  bottom: auto;
}

.thumb-ratio{
    position:relative;
    width: 0;
    height: 100%;
    padding-right: 100% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.tiny-thumb-ratio {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  padding-top: 0px;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.btn-outline {
  text-align: center;
  border: 2px solid #fff;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  
}

.btn-clear {
  background: rgba(254, 254, 254, 0.0);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px;
  > h4 {
    color: #fff;
  }
}

.black-outline {
  color: #000;
  border-color: #000;
}

.blurb-row {
  text-align: center;
  .blurb-icon {
    width: 200px;
  }
}

> a:hover {
  underline: none;
}

.pretty-divider {
  background-image: url('/images/svg/Underlines.svg');
  background-size: cover;
  opacity: .6;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 5%;
  width: 90%;
  height: 8px;
}

.home-buttons {
  display: inline;
  float: center;
}

.inline-button {
  display: inline-block;
}

/* social media buttons */
.sm-button {
  padding-left: 5px;
  padding-right: 5px;
}


.thumb-functions {
  height: 30px;
  background: rgba(15, 15, 15, 0.9);
  opacity: .8;
  > p > a > h4 {
    opacity: 1;
  }
  margin-top: 0px;
  .btn-clear {
    padding: 2px;
    font-size: 16px;
    margin-bottom: 5px;
  }
}
