// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-features {
	text-align: center;
}

.comparison-feature-callout {
	text-align: center;
	width: auto;
	margin: 0 auto;
	.comparison-header {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #d4d4d4;
	}
}

.comp-feature {
	display: inline-block;
}

.feature-thumb {
	display: inline-block;
	.feature-thumb-content {
		-moz-transition: all 0.3s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.3s ease-in;
	  /* Opera */
	  -o-transition: all 0.3s ease-in;
	  /* Standard */
	  transition: all 0.3s ease-in;
	  background: rgba(245, 245, 245, 0.8);
	  background-color: #e8eaee;
	  position: relative;
	  padding: 5px;
	  padding-top: 0px;
	  margin-top: -45px;
	  height: 45px;
	  overflow: hidden;
	  >h4 > a {
	  	color: #343434;
	  }
	  .feature-thumb-descripion {
	  	display: none;
	  }
	}
}

.feature-thumb:hover {
	.feature-thumb-content {
		-moz-transition: all 0.3s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.3s ease-in;
	  /* Opera */
	  -o-transition: all 0.3s ease-in;
	  /* Standard */
	  transition: all 0.3s ease-in;
		margin-top: -130px;
		background: rgba(250, 250, 250, 1);
		background-color: #e8eaee;
		height: 130px;
		.product-thumb-description {
			text-align: center;
			display: block;
			color: #444444;
		}
	}
}

.feature-thumb {
	color: #616161;
	height: 240px;
	min-height: 50%;
	width: 230px;
	min-width: 23%;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: #fff;
	.feature-thumb-functions {
		.comp-feature-thumb-functions {
			width: 100%;
			height: 40px;
			display: inline-block;
			background-color: #313131;
			.functions-left {
				text-align: left;
				float: left;
				height: 100%;
				width: 40%;
				background-color: #6d2cfa;
				display: inline-block;
				.check {
					height: 100%;
					padding: 8px 8px 0px 8px;
					float: left;
					border-right: 1px solid #313131;
				}
				.vote {
					> h5 {
						color: #fff;
						line-height: 1.0;
					}
				}
			}
			.functions-right {
				padding: 10px 5px 0px 10px;
				height: 100%; 
				display: inline-block;
				float: left;
			}
		}
		.single-feature-thumb-functions {
			width: 100%;
			height: 40px;
			display: inline-block;
			.functions-left {
				text-align: center;
				height: 40px;
				display: inline-block;
				background-color: #2463a8;
				width: 25%;

				padding-top: 3px;
				float: left;
			}
			.functions-middle {
				display: inline-block;
				width: 50%;
				background-color: #313131;
				height: 40px;
				> h4 {
					color: #fff;
				}
				float: left;
			}
			.functions-right {
				display: inline-block;
				height: 40px;
				width: 25%;
				background-color: #cb5050;

				padding-top: 3px;
				float: left;
			}
		}
	}
}

.feature-modal {
	width: 500px;
	height: auto;
	.modal-content {
		padding: 20px;
		padding-top: 0px;
		margin: 0px;
		height: 100%;
		.feature-header{
			margin-left: 30px;
			#feature-name {
				float: left;
				font-size: 24px;
			}
			#feature-votes {
				float: right;
				font-size: 24px;
				margin-right: 5px;
				color: #6d2cfa;
			}
		}
		.feature-pic {
			 width: 400px; 
			 margin: 0 auto; 
			 height: 300px;
			 margin-bottom: 30px;
		}
		.feature-modal-buttons {
			display: inline-block;
			width: 400px;
			margin-left: -25px;
			.ftr-modal-btn {
				display: inline;
				width: 100px;
			}
		}
	}
}
