// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-features {
	text-align: center;
	display: inline-block;
	padding-left: 17px;
	padding-bottom: 100px;
	margin-right: 5%;
	margin-left: 0;
}

.comparison-features {
	margin-left: 5%;
	border-right: 1px solid #d4d4d4;
}

.comparison-feature-callout {
	text-align: left;
	width: 100%;
	.comparison-header {
		padding-bottom: 10px;
		border-top: 1px solid #d4d4d4;
		width: 95%;
		margin-bottom: 10px;
	}
}

.comp-feature {
	display: inline-block;
}

.feature-thumb {
	display: inline-block;
	text-align: center;
	.view-button {
	  display: none;
	}
	.feature-thumb-content {
		-moz-transition: all 0.3s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.3s ease-in;
	  /* Opera */
	  -o-transition: all 0.3s ease-in;
	  /* Standard */
	  transition: all 0.3s ease-in;
	  background: rgba(245, 245, 245, 0.8);
	  background-color: #e8eaee;
	  position: relative;
	  padding: 5px;
	  padding-top: 0px;
	  margin-top: -45px;
	  height: 45px;
	  overflow: hidden;
	  >h4 > a {
	  	color: #343434;
	  }
	  .feature-thumb-descripion {
	  	display: none;
	  }
	}
	.feature-delete-btn {
		position: relative;
		float: right;
		margin-top: -230px;
		margin-right: 10px;
		height: 22px;
		width: 22px;
		border-radius: 11px;
    background-color: rgba(255, 0, 0, 0.6);
    color: #fff;
    -moz-transition: all 0.2s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.2s ease-in;
	  /* Opera */
	  -o-transition: all 0.2s ease-in;
	  /* Standard */
	  transition: all 0.2s ease-in;
	}
	.feature-delete-btn:hover {
		height: 30px;
		width: 30px;
		border-radius: 15px;
		margin-right: 15px;
		padding-top: 3px;
    background-color: rgba(255, 0, 0, 1);
    -moz-transition: all 0.2s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.2s ease-in;
	  /* Opera */
	  -o-transition: all 0.2s ease-in;
	  /* Standard */
	  transition: all 0.2s ease-in;
	}
}

.feature-thumb:hover {
	.feature-thumb-content {
		-moz-transition: all 0.3s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.3s ease-in;
	  /* Opera */
	  -o-transition: all 0.3s ease-in;
	  /* Standard */
	  transition: all 0.3s ease-in;
		margin-top: -130px;
		background: rgba(250, 250, 250, 1);
		background-color: #e8eaee;
		height: 130px;
		.product-thumb-description {
			text-align: center;
			display: block;
			color: #444444;
		}
	}
	.view-button {
		display: block;
		width: 142px;
		position: absolute;
		margin-left: 43px;
		margin-top: -200px;
		padding-top: 8px !important;
		padding-bottom: 6px !important;
	}
}

.feature-btn {
	height: 280px;
	width: 230px;
	display: inline-block; 
	vertical-align: top;
	margin: 10px 5px;
}

.feature-thumb {
	color: #616161;
	height: 240px;
	min-height: 50%;
	width: 230px;
	min-width: 20%;
	margin:10px 5px;
	background-color: #fff;
	.feature-thumb-functions {
		.comp-feature-thumb-functions {
			width: 100%;
			height: 40px;
			display: inline-block;
			background-color: #313131;
			.functions-left {
				text-align: left;
				float: left;
				height: 100%;
				width: 40%;
				background-color: #6d2cfa;
				display: inline-block;
				.check {
					height: 100%;
					padding: 8px 8px 0px 8px;
					float: left;
					border-right: 1px solid #313131;
				}
				.vote {
					> h5 {
						color: #fff;
						line-height: 1.1;
					}
				}
			}
			.functions-right {
				padding: 10px 5px 0px 10px;
				height: 100%; 
				display: inline-block;
				float: left;
				> h5 {
					color: #fff;
					margin-top: 0px;
				}
			}
		}
		.single-feature-thumb-functions {
			width: 100%;
			height: 40px;
			display: inline-block;
			.functions-left {
				text-align: center;
				height: 40px;
				display: inline-block;
				background-color: #1488ff;
				width: 25%;

				padding-top: 3px;
				float: left;
			}
			.functions-middle {
				display: inline-block;
				width: 50%;
				background-color: #313131;
				height: 40px;
				> h4 {
					color: #fff;
				}
				float: left;
			}
			.functions-right {
				display: inline-block;
				height: 40px;
				width: 25%;
				background-color: #fc4c4c;

				padding-top: 3px;
				float: left;
			}
		}
	}
}

.feature-modal {
	width: 500px;
	height: auto;
	bottom: auto;
	.modal-content {
		padding: 20px;
		padding-top: 0px;
		margin: 0px;
		height: 100%;
		.feature-header{
			margin-left: 30px;
			#feature-name {
				text-align: left;
				font-size: 24px;
				width: 90%;
			}
			#feature-votes {
				float: right;
				font-size: 24px;
				margin-right: 5px;
				color: #6d2cfa;
			}
		}
		.feature-pic {
			 width: 400px; 
			 margin: 0 auto; 
			 height: 300px;
			 margin-bottom: 30px;
		}
		.feature-modal-buttons {
			display: inline-block;
			width: 400px;
			margin-left: -25px;
			.ftr-modal-btn {
				display: inline;
				width: 100px;
			}
		}
	}
}
