> h1 {
	font-family: "Roboto Slab", Serif;
	font-weight: 400;
	font-size: 45pt;
}

> h2 {
	font-family: proxima-nova-n9, proxima-nova, sans-serif;
	font-weight: 400;
	font-size: 32pt;
}

> h3 {
	font-family: "Roboto Slab", Serif;
	font-weight: 400;
	font-size: 18pt;
}

> h4 {
	font-family: proxima-nova-n9, proxima-nova, sans-serif;
	font-weight: 700;
	font-size: 18pt;
}

> h5 {
	font-family: "Roboto Slab", Serif;
	font-weight: 400;
	font-size: 17pt;
}

> h6 {
	font-family: proxima-nova-n9, proxima-nova, sans-serif;
	font-weight: 400;
	font-size: 16pt;
	letter-spacing: 2px;
}

> p {
	font-weight: 400;
	font-size: 15pt;
}
