// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-banner {
	background-color: #828282;
  background: url(/images/Home-banner.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  height: auto;
  width: 100%;
  color: #eeeeee;
  z-index: -1;
  text-align: center;
  border-radius: 0px;
  .hero-header {
	  margin-top: 5%;
	  font-family: "Times New Roman", Times, serif;
	  text-align: center;
	  padding-bottom: 10px;
	  color: #fff;
	  border-bottom: 2px solid rgba(200, 200, 200, .5);
	}
	.hero-description {
		padding-top: 20px;
		width: 80%;
		margin: 0 auto;
	}
}

.home-content {
	padding-top: 30px;
}

.featured-campaigns {
	text-align: center;
	width: auto;
	margin-bottom: 30px;
	-moz-transition: all 0.3s ease-in;
  /* WebKit */
  -webkit-transition: all 0.3s ease-in;
  /* Opera */
  -o-transition: all 0.3s ease-in;
  /* Standard */
  transition: all 0.3s ease-in;
	margin: 0 auto;
	.row {
		display: inline-block;
	}
}

.featured-makers {
	display: block;
	text-align: center;
	width: auto;
	margin-bottom: 30px;
	.row {
		display: inline-block;
	}
}

