// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-banner {
    background: url(/images/product-banner.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    height: 400px;
    background-size: cover;
}

.product-thumb {
	height: 270px;
	width: 180px;
	background-color: #fff;
	padding:10px;
	margin-bottom: 10px;
}

.media {
	padding: 10px;
	margin: 0px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	.media-body {
		margin-top: -100px;
		padding-top: 0px;
		float: center;
		> h4 {
			float: center;
		}
	}
}

#product-features {
	margin: 20px;
}

.product-modal { 
	left: 50%;
	top: 15%;
	padding: 0 auto;
	overflow-x: visible;
	text-align: center;
	float: center;
}

.comparison-feature-callout {
	padding-left: 7%;
}

.thumbnail {
	.product-thumb-content {
	  background: rgba(245, 245, 245, 0.8);
	  position: relative;
	  padding: 5px;
	  padding-top: 0px;
	  margin-top: -65px;
	  height: 35px;
	  overflow: hidden;
	  >h4 > a {
	  	color: #343434;
	  }
	  .product-thumb-descripion {
	  	display: none;
	  }
	}
	.feature-thumb-content {
	  background: rgba(245, 245, 245, 0.8);
	  position: relative;
	  padding: 5px;
	  padding-top: 0px;
	  margin-top: -35px;
	  height: 35px;
	  overflow: hidden;
	  >h4 > a {
	  	color: #343434;
	  }
	  .product-thumb-descripion {
	  	display: none;
	  }
	}
}

.thumbnail:hover {
	.product-thumb-content {
		margin-top: -130px;
		background: rgba(250, 250, 250, 1);
		height: 100px;
		.product-thumb-description {
			text-align: center;
			display: block;
			color: #444444;
		}
	}
	.feature-thumb-content {
		margin-top: -100px;
		background: rgba(250, 250, 250, 1);
		height: 100px;
		.product-thumb-description {
			text-align: center;
			display: block;
			color: #444444;
		}
	}
}

.feature-thumb {
	height: 270px;
	width: 180px;
	background-color: #fff;
	padding:10px;
	margin-bottom: 10px;
}
