// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-banner {
    background: url(/images/product-banner.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    height: 400px;
    background-size: cover;
}

.product-thumb {
	height: 270px;
	width: 180px;
	background-color: #fff;
	padding:10px;
	margin-bottom: 10px;
}

.media {
	padding: 10px;
	margin: 0px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	.media-body {
		margin-top: -100px;
		padding-top: 0px;
		float: center;
		> h4 {
			float: center;
		}
	}
}

#product-features {
	margin: 20px;
}

.product-modal { 
	left: 50%;
	top: 15%;
	padding: 0 auto;
	overflow-x: visible;
	text-align: center;
	float: center;
}

.comparison-feature-callout {
	padding-left: 7%;
}

.thumbnail {
	.product-thumb-content {
	  position: relative;
	  padding: 7px;
	  padding-top: 0px;
		margin-top: -150px;
		background: rgba(230, 235, 245, 1);
		height: 120px;
	  overflow: hidden;
	  .product-text {
		  color: #454545;
		  font-size: 12px;
	  }
	  >h4 > a {
	  	color: #343434;
	  }
	  .product-thumb-descripion {
	  	display: none;
	  }
	}
	.feature-thumb-content {
	  background: rgba(245, 245, 245, 0.8);
	  position: relative;
	  padding: 5px;
	  padding-top: 0px;
	  margin-top: -35px;
	  height: 35px;
	  overflow: hidden;
	  >h4 > a {
	  	color: #343434;
	  }
	  .product-thumb-descripion {
	  	display: none;
	  }
	}
}

.thumbnail:hover {
	.product-thumb-content {
	  margin-top: -72px;
	  height: 42px;
		.product-thumb-description {
			text-align: center;
			display: block;
			color: #444444;
		}
	}
	.feature-thumb-content {
		margin-top: -130px;
		background: rgba(250, 250, 250, 1);
		height: 130px;
		.product-thumb-description {
			text-align: center;
			display: block;
			color: #444444;
		}
	}
}

.feature-thumb {
	height: 270px;
	width: 180px;
	background-color: #fff;
	padding:10px;
	margin-bottom: 10px;
}

.black-wrapper {
	width: 100%;
	background: rgba(0,0,0, .5);
	height: 600px;
	position: absolute;
	z-index: -1;
}

.product-header {
	position: absolute;
	background-position: 30% 40%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	z-index: -1;
	height: 600px;
}

.product-middle {
	position: relative;
	margin-top: 0px;
}

.product-name {
	text-align: left;
	border-bottom: 2px solid #fff;	
	color: #fff;
}

.product-description {
	text-align: left;
	font-size: large;
}

.product-creator {
	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
	.creator-face {
		width: 50px;
		margin-top: -5px;
		display: inline-block;
		height: 50px;
		float: left;
		background-position: center center;
    background-size: cover;  
    border: 2px solid #aaa;
	}
	.creator-data {
		border-bottom: 1px solid #fff;
		float: left;
		padding: 0 30px 8px 80px;
		text-align: left;
		margin-left: -50px;
		width: 600px;
		>h4 {
			color: #fff;
		}
	}
	.product-buttons {
		padding-top: 10px;
		display: inline-block;
		margin-left: -200px;
	}
}

.product-pictures {
	.main-pic {
		width: 600px;
		height: 350px;
		background-size: cover;
		border: 1px solid #aaa;
		margin: 0px;
	}
	.other-pics {
		width: 120px;
		margin-left: 10px;
		float: left;
		.alt-pic {
			margin-bottom: 5px;
			margin-left: 10px;
			display: block;
			width: 100px;
			height: 100px;
		}
	}
}

.product-right {
	height: 500px;
	color: #fff;
	text-align: center;
	> h2 {
		color: #fff;
	}
}

.product-nav {
	border: none;
	background-color: #313131;
	width: 100%;
	margin-top: 40px;
	height: 42px;
	padding-left: 7%;
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-color: #794f85;
		border: none;
	}
	> a {
		color: #fff;
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #794f85;
	color: #fff;
	border: none;
}
	
.nav-tabs > li > a, .nav-tabs > li  > a:hover, .nav-tabs > li > a:focus {
	background-color: #313131;
	color: #fff;
	border: none;
}
.new-comment {
	margin-left: 10%;	
	.comment-box {
		> form {
			width: 100%;
		}
	}	
	width: 600px;
}
.current-user-face {
	padding: 0px;
}