// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-banner {
  background: url(/images/product-banner.jpg) no-repeat top center fixed;
  background-size: cover;
  height: 60%;
  background-size: cover;
}

.product-index {
	text-align: center;
	width: 90%;
}

.product-thumb {
	height: 370px;
	width: 250px;
	background-color: rgba(255, 255, 255, .999);
	padding:10px;
	margin-bottom: 10px;
}

.media {
	padding: 10px;
	margin: 0px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	.media-body {
		margin-top: -100px;
		padding-top: 0px;
		float: center;
		> h4 {
			float: center;
		}
	}
}

#product-features {
	margin-top: 20px;
}

.product-modal { 
	left: 50%;
	top: 15%;
	padding: 0 auto;
	overflow-x: visible;
	text-align: center;
	float: center;
}

.product-thumbnail {
	height: 370px;
	width: 250px;
}

.product-thumb {
	display: inline-block;
	padding: 0px;
	margin-left: 10px;
	margin-bottom: 20px;
	.active-button {
		position: absolute;
		margin-top: -360px;
		margin-left: 10px;
	}
	.view-button {
		display: none;
	}
	.product-thumb-content {
	  position: relative;
	  padding: 7px;
	  padding-top: 0px;
		margin-top: -170px;
		background: rgba(230, 235, 245, .999);
		background-color: #e8eaee;
		height: 130px;
	  overflow: hidden;
	  .product-text {
		  color: #454545;
		  font-size: 12px;
	  }
	  >h4 > a {
	  	color: #343434;
	  }
	  .product-thumb-descripion {
	  	display: none;
	  }
	}
}

.black-wrapper {
	width: 100%;
	background: rgba(60, 60, 60, .7);
	height: auto;
	z-index: -1;
	padding-bottom: 30px;
}

.product-header {
	background-position: 30% 40%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	z-index: -1;
	height:auto;
}

.product-middle {
	position: relative;
	margin-top: 0px;
	text-align: center;
}

.product-name {
	padding-top: 15px;
	text-align: left;
	font-size: 43px;
	font-weight: 300;
	color: #fff;
}

.product-description {
	text-align: left;
	font-size: 16px;
	font-weight: 300;
}

.product-creator {
	width: 100%;
	display: inline-block;
	margin: 10px;
	.creator-face {
		width: 60px;
		margin-top: -5px;
		display: inline-block;
		height: 60px;
		float: left;
		background-position: center center;
    background-size: cover;  
    border: 2px solid #aaa;
	}
	.creator-data {
		float: left;
		text-align: left;
		margin-left: 0px;
		width: auto;
		>h5 {
			color: #fff;
		}
	}
	.product-buttons {
		padding-top: 10px;
		display: inline-block;
		margin-left: 10px;
	}
}

.product-pictures {
	text-align: center;
	.main-pic {
		max-width: 95%;
		min-width: 40%;
		height: 350px;
		background-size: cover;
		border: 1px solid #4b4b4b;
		margin: 0px;
		margin-left: 5px;
	}
	.other-pics {
		display: inline-block;
		width: 90px;
		max-height: 360px;
		margin-left: 5px;
		float: left;
		.alt-pic {
			width: 90px;
			margin-bottom: 5px;
			display: block;
			height: 66px;
		}
	}
}

.product-right {
	float: left;
	margin-left: 2%;
	color: #fff;
	margin-top: 8%;
	text-align: center;
	> h2 {
		color: #fff;
	}
}

.pnav {
	border-image: url(/images/blue-purple-border.png) 3 0 0 0 stretch;
	text-align: center; 
	width: 100%;
	background-color: #313131;
	padding: 0px;
	height: auto;
}

.product-nav {
	border: none;
	text-align: center;
	display:inline-block;
	margin: 0px;
	height: auto;
	.row {
		display: inline-block;
		text-align: center;
		> li {
			display: inline-block;
		}
		.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
			background-color: #794f85;
			border: none;
		}
		> a {
			display: inline-block;
			color: #fff;
		}
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #794f85;
	color: #fff;
	border: none;
}
	
.nav-tabs > li > a, .nav-tabs > li  > a:hover, .nav-tabs > li > a:focus {
	background-color: #313131;
	color: #fff;
	border: none;
}

.new-comment {
	min-height: 160px;
	text-align: center;
	display: inline-block;
	margin-left: -25%;
	margin-right: 25%;
	.comment-box {
		position: absolute;
		min-width: 350px;
		min-height: 100px;
		width: auto;
		display: inline-block;
	}
	.current-user-face {
		padding: 0px;
		position: absolute;
		margin-left:-100px;
	}
}

.comment-body {
	max-width: 70%;
	text-align: left;
	margin-left: 15px;
	margin-top: 0px;
	padding: 10px;
	background: rgba(250, 250, 250, 1);
	border: 1px solid #d4d4d4;
}

.product-comment {
	display: inline-block; 
	margin-bottom: 20px;
	margin-left: 10%;
}

.product-comments {
	margin-left: 10%; 
	margin-right: 10%;
}

.product-image-upload {
	margin-top: 20px;
}

.product-likers {
	margin-top: 50px;
	margin-left: 15%;
	width: 85%;
}

.product-rewards {
	width: 95%;
}

.pic-btns {
	display: inline-block; 
	vertical-align: top; 
	margin-left: -20px; 
	margin-top: 5px;
	position: absolute;
}


/* product form style */

.product-info {
	
}



@media (max-width: 768px) {
	.product-right {
		text-align: center;
		display: inline-block;
		margin-top: 10px;
		width: 90%;
		margin-left: 1%;
	}
	.other-pics {
		display: none !important;
		.alt-pic {
			display: none;
		}
	}
	.product-thumb {
		width: 150px;
		height: 200px;
	}
	.thumbnail {
		margin-left: 10px;
		.product-thumb-content {
			height: 85px;
			margin-top: -125px;
		}
		.active-button {
			position: absolute;
			margin-top: -190px;
			margin-left: 10px;
		}
	}
}

@media (min-width: 980px) {
	.other-pics {
		display: inline-block;
	}
	.product-right{
	  min-width: 360px;
	  max-width: 70%;
	}
	.product-thumb{
		width: 230px;
		height: 370px;
		min-width: 23%;
	}
	.product-thumb:hover {
		.product-thumb-content {
		  margin-top: -102px;
		  height: 62px;
			.product-thumb-description {
				text-align: center;
				display: block;
				color: rgba(68, 68, 68, .999);
			}
		}
		.view-button {
			display: block;
			position: absolute;
			margin-left: 90px;
			margin-top: -250px;
			border-width: 1px;
		}
	}
	.active-button {
		position: absolute;
		margin-top: -190px;
		margin-left: 10px;
	}
}

@media (max-width: 640px) {
	.new-comment {
		text-align: left;
		position: absolute;
		.comment-box {
			position: absolute;
			width: 450px;
			min-height: 100px;
		}
		.current-user-face {
			display: none;
		}
	}
	.product-comment {
		.user-info {
			display: none;
		}
		.comment-vote-buttons {
			padding-right: 10px;
		}
		.comment-body {
			width: 90%;
		}
	}
}
