// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-thumb {
	background-color: #fff;
	height: 370px;
	width: 212px;
	display: inline-block;
}

.user-banner {
    background: url(/images/community.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    height: auto;
    background-size: cover;
}

#user-picture-modal { 
	left: 50%;
	right: 50%;
	top: 5%;
	overflow: visible;
	text-align: center;
}

.user-thumb {
	padding: 0px;
	margin-left: 10px;
	> a > img {
		max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 2px;
	}
	.user-thumb-content {
		-moz-transition: all 0.2s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.2s ease-in;
	  /* Opera */
	  -o-transition: all 0.2s ease-in;
	  /* Standard */
	  transition: all 0.2s ease-in;
	  background: rgba(245, 245, 245, 0.8);
	  position: relative;
	  padding: 0px;
	  margin-top: -80px;
	  height: 40px;
	  color: #444444;
	  overflow: hidden; 
	  .user-mini-products {
			display: none;
		}
		> h4 > a {
			color: #343434;
		}
	}
}

.user-thumb:hover {
	.user-thumb-content {
		-moz-transition: all 0.2s ease-in;
	  /* WebKit */
	  -webkit-transition: all 0.2s ease-in;
	  /* Opera */
	  -o-transition: all 0.2s ease-in;
	  /* Standard */
	  transition: all 0.2s ease-in;
		margin-top: -160px;
		background: rgba(250, 250, 250, 0.999);
		height: 120px;
		.user-mini-products {
			display: block;
			text-align: center;
			height: 50px;
			margin-left: auto;
    	margin-right: auto;
		}
	}
}

.user-pic-thumb {
	height: 100px;
	width: auto;
	overflow: hidden;
}

.user-cover {
	background-image: url('/images/Profile-backgroundfull.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% 70%;
	width: 100%;
	text-align: center;
	z-index: -1;
	border-bottom:2px solid #aaaaaa;
}



.user-profile-top {
	height: auto;
	text-align: center;
	> h1, h2, h3, h4 {
		color: #fff;
	}
	.user-left {
		padding-top: 30px;
		width: 25%;
		height: 300px;
		min-width: 100px;
		display: inline-block;
		float: left;
		.user-face {
			margin: 0 auto;
			height: 200px;
			width: 200px;
			z-index: 10;
			> h1, h2, h3, h4 {
				color: #fff;
			}
		}
	}
	.user-right {
		padding-top: 50px;
		width: 85%;
		margin-left: -10%;
		padding-left: 20px;	
		min-width: 480px;
		float: left;
		display: inline-block;
		.user-name {
			width: 95%;
			float: left;
			padding-bottom: 5px;
			border-bottom: 1px solid #fff;
			> h1, h2, h3, h4 {
				color: #fff;
				text-align: left;
				margin-left: 20%;
			}
		}
		.under-name {
			width: 100%;
			min-height: 120px;
			.heat-box {
				width: 35%;
				float: left;	
				min-width: 200px;
				display: inline-block;
				min-height: 120px;
				background: rgba(255, 255, 255, 0.6);
				.purple-numbers {
					width: 30%;
					float: left;
					>h2 {
						color: #6d2cfa;
						text-align: right;
					}
				}
				.heat-titles {
					width: 70%;
					float: left;
					> h2 {
						text-align: left;
						padding-left: 9px;
						color: #000;
					}
				}
			}
			.user-bio {
				width: 40%;
				display: inline-block;
				min-height: 120px;
				float: left;
				> h4 {
					display: inline-block; 
					vertical-align: center;
				}
			}
		}
	}
}

.current-campaigns {
	text-align: center;
	min-height: 200px;
}
.past-campaigns {
	text-align: center;
}

.user-data {
	> h5 {
		color: #fff;
	}	
}

.user-rating {
	margin-top: 100px;
	padding-bottom: 3px;
	opacity: .8;
	border-bottom: 1px solid #ededed;
	> h5 {
		color: #fff;
	}
	float: left;
	display: inline-block;
	z-index: 10;
}

.user-followers {
	display: inline-block;
	float: left;
	opacity:.8;
	z-index: 10;
	color: #fff;
	border-bottom: 1px solid #ededed;
	> h5 {
		color: #fff;
	}
}

.user-face-pic {
	border: solid 5px #fff;
	height: 200px;
	width: 200px;
	text-align:center;
	padding: 0px;
}

.user-buttons {
	text-align: center;
	display: inline-block;
}

.current-creations {
	width: 90%;
	margin: 0 auto;
	height: auto;
}

.user-buttons {
	display: inline-block;
	height: 40px;
	text-align: center;
	padding: 5px;
}

.other-user-buttons {
	margin-left: 11%;
}

.recent-activity {
	.activity {
		position: relative;
		display: inline-block;
		float: center;
		.activity-icon {
			padding: 0px;
			margin: 0 auto;
			height: 100px;
		}
		> h4 {
			width: 160px;
		}
	}
}

.follower-thumb {
	margin-bottom: 40px;
	margin-left: 20px;
	display: inline-block;
	.follower-pic {
		float: left;
		width: 100px;
		height: 100px;
		background-size: cover;
		border: 1px solid #d0d0d0;
	}
	.follower-info {
		z-index: 5;
		margin-left: 7px;
		float: left;
		width: 300px;
		height: 100px;
		border: 1px solid #d0d0d0;
		color: #828282;
		background-color: #fff;
		.info-top { 
			height: 50px;
			padding: 20px 10px 10px 20px;
			text-align: left;
			border-bottom: 1px solid #d0d0d0;
		}
		.info-bottom {
			padding-left: 20px;
			padding-top: 15px;
			text-align: left;
		}
	}
	.rating-box {
		float: left;
		width: 100px;
		height: 100px;
		margin-left: -100px;
		margin-top: -11px;
		z-index: 10;
		.upper-rating {
			background-color: #f5f7f9;
			border: 1px solid #d0d0d0;
			padding: 0 8px 0px 10px;
			z-index: 12;
			> h5, > h6 {
				text-align: left;
				line-height: 1.0;
				font-family: proxima-nova-n9, proxima-nova, sans-serif;
				color: #828282;
			}
			color: #828282;
		}
		.lower-rating {
			background-color: #eef1f4;
			border: 1px solid #d0d0d0;
			border-top: none;
			padding-top: 10px;
			color: #828282;
			z-index: 12;
		}
	}
}


@media (max-width: 768px) {
	.user-thumb {
		width: 200px;
		height: 300px;
	}
	.thumbnail {
		.user-thumb-content {
			height: 40px;
			margin-top: -80px;
		}
	}
}



