// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-callout {
	background-color: #fff;
	min-height: 180px;
	box-shadow: 2px 2px 2px #ccc;
	min-width: 110px;
	padding-left: auto;
	padding-right: auto;
	margin-bottom: 10px;
}

.user-banner {
    background: url(/images/community.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    height: 400px;
    background-size: cover;
}

