<div class="modal fade feature-modal" id="newFeatureModal" tabindex="-1" role="dialog" aria-labelledby="newFeatureModalLabel" aria-hidden="true">
	<button type="button" class="close" data-dismiss="modal" area-hidden="true" style="padding-right: 10px;">x</button>
	<div class="modal-body">
		<div class="row">
			<div class="form-indicators" style="margin-right: -3px;">
				<div class="category form-tab selected">
					<p class="tab-name">CATEGORY</p>
				</div>
				<div class="set-up form-tab unselected" style="margin-left: -3px;">
					<p class="tab-name">SET UP</p>
				</div>
			</div>
		</div>
		<h2>Choose a Poll Type:</h2>
		<div class="row" style="margin-top: 20px; text-align: center; display: inline-block;">
			<div class="span2 well" style="background-color: #d4d4d4;">
				<h4>Singleton</h4>
				<button data-toggle="modal" data-target="#newFeatureModalGroup<%= feature_group.id %>" onclick="$('#newFeatureModal').modal('hide');" style="padding: 0px; border: none;">
					<%= image_tag '/images/standalone.png' %>
				</button>
			</div>
			<div class="span2 well" style="background-color: #d4d4d4;">
				<h4>Comparison</h4>
				<button data-toggle="modal" data-target="#newCompFeatureModal" onclick="$('#newFeatureModal').modal('hide');" style="padding: 0px; border: none;">
					<%= image_tag '/images/comparison.png' %>
				</button>
			</div>
		</div>
	</div>
</div>
