<div class="comp-feature-thumb-functions">
	<div class="functions-left">
		<% if signed_in? %>
			<a href=<%= product_feature_group_vote_path(:product_id => @product.id, :feature_id => feature.id, :feature_group_id => feature.feature_group_id, :up => true) %>>
		<% end %>
		<div class="check">
			<% if signed_in? and !feature.likes.where(:user_id => current_user.id).empty? %>
				<i class="fa fa-check fa-lg" style="color: #fff;"></i> 
			<% else %>
				<i class="fa fa-check fa-lg" style="color: #828282;"></i>
			<% end %>
		</div>
		<div class="vote"> 
			<h5> Vote</h5>
		</div>
	</div>
	<% if signed_in? %>
		</a>
	<% end %>
	<div class="functions-right">
		<p style="text-align: center; color: #fff;"><%= feature.likes.where(:up => true).size  %> Votes</p>
	</div>
</div>