<div class="thumbnail feature-callout" style="color: #fff; min-height: 250px;">
	<% if !feature.pictures.empty? %>
		<%= image_tag feature.pictures.last.attachment.url(:thumb), :class => 'img-rounded', :style => 'width: 95%' %>
		</br>
		<h4><%= link_to feature.name, product_feature_path(:id => feature.id, :product_id => @product.id) %></h4>
	<% end %>
	<p><%= feature.description %></p>
	</br>
	<div class="btn-group">
		<%= link_to 'Votes: ' + feature.upvotes.length.to_s ,
							product_feature_upvote_path(:product_id => @product.id, :feature_id => feature.id), class: "btn btn-success", :style => 'text-align: center; float: center;' %>
	</div>
</div>