<% if !@product.features.empty? %>
	<div class="row">
	  <ul class="thumbnails">
	    <% @product.features.each do |feature| %>
	    	<div class="span2">
	      	<%= render :partial => 'feature_thumb' , locals: { feature: feature } %>
	      </div>
	    <% end %>
	  </ul>
	</div>  
<% else %>
  <h2>There are no features set up for <%= @product.name %>. </h2>
<% end %>