<ul class="media-list">
	<% @product.comments.each do |comment| %>
		<li class="media">
			<a class="pull-left" href="#">
				<%= image_tag comment.user.profile_picture.attachment.url(:thumb) %>
			</a>
			<div class="media-body">
				<h4 class="media-heading"><%= comment.title %></h4>
				<p><%= comment.body %></p>
			</div>
		</li>
	<% end %>
</ul>