<% if !@product.features.empty? %>
	<div class="row">
	  <ul class="thumbnails">
	    <% @product.features.each do |feature| %>
	      <%= render :partial => 'feature_thumb' , locals: { feature: feature } %>
	    <% end %>
	  </ul>
	</div>  
<% else %>
  <h2 style="color: #fff;">There are no features set up for <%= @product.name %>. </h2>
<% end %>