<div class="product-password">
	<%= form_for @product, url: product_access_path(@product), method: :get do |f| %>
		<div class="inline-form">
			<%= f.text_field :password, placeholder: 'Special Password' %>
			<%= f.submit 'ACCESS', :class => 'btn btn-primary' %>
		</div>
	<% end %>
</div>