<div class="container product-rewards" style="text-align: center;">
	<h2>Rewards for <%= product.name %></h2>
	<div class="pretty-divider"></div>
	<div class="top-users">
		<h4>Commited Critiqers</h4>
		<p>This is a special place for the critiqers who have consistently contributed to this campaign</p>
		<% product.top_users.each do |user| %>
			<%= render partial: '/users/follower_thumb', locals: {user: user} %>
		<% end %>
	</div>
	<div class="creator-picks">
		<h2>Creator Picks!</h2>
		<p>Here's what you earn if the creator's of <%= product.name %> like your critiqs</p>
	</div>
	<div class="top-comments">
		<h4>Top Comments</h4>
		<p>Earn heat for your highly rated critiqs, and check out the top comments now</p>
		<%= render partial: 'product_comments', locals: { comments: product.comments.order('rating DESC').first(3) } %>
	</div>
</div>	