<div class="span3 thumbnail product-thumb" style="text-align: center;">
	<% if !product.pictures.empty? %>
		<%= image_tag product.product_pic.attachment.url(:medium), :class => 'img-rounded', :style => 'height: 200px' %>
		</br>
		<h4><%= link_to product.name, product %></h4>
		<% if signed_in? and !product.likes.exists?(:user_id => current_user.id) %>
			<%= link_to 'Show Love',
							product_love_path(product.id), class: "btn btn-success" %>
		<% else %>
			<p>Rating: <%= product.rating.to_s %></p>
		<% end %>
	<% end %>
</div>