<div style="display: inline-block;" class="thread">
	<% if defined? bounty%>
		<%= nested_bounty_comments bounty.comments.arrange(order: :created_at), product, bounty %>
	<% else %>
		<%= nested_comments product.comments.arrange(order: :created_at), product %>
	<% end %>
</div>