<div class="single-feature-thumb-functions">
	<div class="functions-left">
		<% if signed_in? %>
			<a href=<%= product_feature_group_vote_path(:product_id => @product.id, :feature_id => feature.id, :feature_group_id => feature.feature_group_id, :up => true) %>>
		<% end %>
		<div class="thumb-up">
			<% if signed_in? and !feature.likes.where(:user_id => current_user.id, :up => true).empty? %>
				<i class="fa fa-thumbs-up fa-2x" style="color: #fff;"></i> 
			<% else %>
				<i class="fa fa-thumbs-up fa-2x" style="color: #828282;"></i>
			<% end %>
		</div>
		<% if signed_in? %>
			</a>
		<% end %>
	</div>
	<div class="functions-middle">
		<h4><%= (feature.percent_like * 100.0).round(2) %>%</h4>
	</div>
	<div class="functions-right">
		<% if signed_in? %>
			<a href=<%= product_feature_group_vote_path(:product_id => @product.id, :feature_id => feature.id, :feature_group_id => feature.feature_group_id, :up => false) %>>
		<% end %>
		<div class="thumb-down">
			<% if signed_in? and !feature.likes.where(:user_id => current_user.id, :up => false).empty? %>
				<i class="fa fa-thumbs-down fa-2x" style="color: #fff;"></i> 
			<% else %>
				<i class="fa fa-thumbs-down fa-2x" style="color: #828282;"></i>
			<% end %>
		</div>
		<% if signed_in? %>
			</a>
		<% end %>
	</div>
</div>