<%- model_class = Product -%>
<div class="container" style="margin-bottom: 50px; margin-top: 80px;">
  <h1>Browse Campaigns</h1>
  <div class="pretty-divider"></div>
  <ul class="row thumbnails" style="margin-top: 50px;">
    <% @top_products.each do |p| %>
      <%= render :partial => 'product_thumb', locals: { product: p } %>
      <%= render :partial => 'product_modal', :locals => { product: p } %>
    <% end %>
  </ul>
</div>

