<%- model_class = Product -%>
<div class="container product-index" style="margin-bottom: 20px; margin-top: 80px; min-height: 90%;">
  <h1>Browse Drives</h1>
  <div class="pretty-divider"></div>

  <div class="row thumbnails" style="margin-top: 20px;">
    <% @products.each do |p| %>
      <%= render :partial => 'product_thumb', locals: { product: p } %>
      <%= render :partial => 'product_modal', :locals => { product: p } %>
    <% end %>
  </div>

</div>
