<%- model_class = Product -%>
<div class="signup-page container">
	<div style="text-align: center; margin: 40px;">
	  <h1>Launch a feedback drive</h1>
	  <p>All you need to get started is a short description of your creation, a picture, and a Critiq account.</p>
	  <p>Start getting feedback today.</p>
	</div>
	<div class="span8 offset4">
		<%= render :partial => 'form' %>
	</div>
</div>