<%- model_class = Product -%>
<% if signed_in? and (current_user.creator or current_user.admin)%>
	<div class="hero-unit home-banner" style="height: 250px; margin-bottom: 0">
		<div class="hero-text hero-header">
			<h1>Welcome to your new feedback drive</h1>
		</div>
	</div>
	<div class="pnav" style="text-align: center; width: 100%; margin: none;">
	  <ul class="nav nav-tabs product-nav product-nav-content row">
	    <li class="active"><a href="#basic-info">BASIC INFO</a></li>
	    <li><a href="#upload-more" style="cursor: not-allowed;">UPLOAD MORE</a></li>
	  </ul>
	</div>
	<div class="container">
		<div class="well" style="padding: 0 100px 20px 100px; display: inline-block; border:none;">
			<div style="text-align: center; margin: 0 auto; margin-top: 30px;">
			  <h4>All you need to get started is a short description</h4>
			  <h4>of your creation, a picture, and a Critiq account.</h4>
			  <p>Start getting feedback today.</p>
			</div>
			<div style="text-align: center; margin: 0 auto;">
				<%= render :partial => 'form' %>
			</div>
		</div>
	</div>
<% else %>
	<div class="product-password">
		<%= form_for current_user, url: user_creator_path(current_user), method: :get do |f| %>
			<div class="container inline-form">
				<h3 style="color: #fff;">Creating feedback drives is still being tested</h3>
				<h3 style="color: #fff;">We’ll be sending out 20 invites a week, so if you’re interested, shoot us a message at <a href="mailto:creator@critiq.me?Subject=Sign%20me%20up%20">creator@critiq.me</a> to reserve your spot. </h3>
				<h3 style="color: #fff;">Include in the message: Project Title, Short Summary of your product, A link to your site, demo, or product intro, and we’ll get back to you as soon as possible, thanks!</h3>
				<h3 style="color: #fff;">We will give you a passcode to enter here when we're ready for you</h3>
				<%= f.text_field :creator_code, placeholder: 'Creator Passcode' %>
				<%= f.submit 'ACCESS', :class => 'btn btn-primary', style: 'margin-top: 50px; margin-bottom: 15%;'%>
			</div>
		<% end %>
	</div>
<% end %>