<%- model_class = Product -%>
<div class="signup-page container">
	<div class="page-header" style="padding-top:50px;">
	  <h1>New Campaign</h1>
	</div>
	<div class="span9 offset2" style="padding-left:80px;">
		<%= render :partial => 'form' %>
	</div>
</div>