<div id="new-feature-modal" class="modal fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" area-hidden="true">x</button>
	</div>
	<div class="modal-body">

	</div>
</div>